pkgbase = haskell-scotty
	pkgdesc = Haskell web framework inspired by Ruby's Sinatra, using WAI and Warp
	pkgver = 0.11.4
	pkgrel = 1
	url = http://hackage.haskell.org/package/scotty
	arch = i686
	arch = x86_64
	license = BSD3
	makedepends = ghc
	depends = ghc-libs
	depends = haskell-blaze-builder
	depends = haskell-transformers-base
	depends = haskell-wai
	depends = haskell-wai-extra
	depends = haskell-transformers-compat
	depends = haskell-monad-control
	depends = haskell-aeson
	depends = haskell-network
	depends = haskell-http-types
	depends = haskell-case-insensitive
	depends = haskell-warp
	depends = haskell-regex-compat
	depends = haskell-data-default-class
	source = http://hackage.haskell.org/packages/archive/scotty/0.11.4/scotty-0.11.4.tar.gz
	sha256sums = f1b89ca31e7bb987746ec29a3de573950d9cd67e7e2dee63f141291b5ffde08f

pkgname = haskell-scotty

